<form [formGroup]="postForm" (ngSubmit)="submitForm()" class="max-w-md mx-auto p-6 bg-white rounded-lg shadow-lg">

  <div>
    <h2 class="text-xl font-semibold mb-2">Add post</h2>
  </div>

  <div class="mb-4">
    <label for="title" class="block text-gray-700 font-semibold mb-2">Title</label>
    <input type="text" id="title" formControlName="title" class="border rounded w-full py-2 px-3 text-gray-700" />
    <div *ngIf="postForm.get('title')?.hasError('required')" class="text-red-500">Title is required.</div>
  </div>

  <div class="mb-4">
    <label for="description" class="block text-gray-700 font-semibold mb-2">Description</label>
    <textarea id="description" formControlName="description"
      class="border rounded w-full py-2 px-3 text-gray-700"></textarea>
    <div *ngIf="postForm.get('description')?.hasError('required')" class="text-red-500">Description is required.</div>
    <div *ngIf="postForm.get('description')?.hasError('minlength')" class="text-red-500">Description must be at least
      100
      characters long.</div>
    <div *ngIf="postForm.get('description')?.hasError('maxlength')" class="text-red-500">Description can't exceed 500
      characters.</div>
    <div>
      <p>{{postForm.get('description')?.value.length}}/500</p>
    </div>
  </div>

  <div class="mb-4">
    <button type="submit" [disabled]="postForm.invalid"
      class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
      Submit
    </button>
  </div>
</form>